<a href="https://colab.research.google.com/github/nicolecarbonell/NicoleCarbonell/blob/main/in_class_assignment_ipynbd0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Surface area of a cylinder**

In [ ]:
r=3
h=10
pi=3.14
area=2*pi**2+2*pi*r*h
print(area)

208.1192

**Rock Paper scissors**

In [ ]:
import random

c = input ('Do you want to play game? yes or no:')

while c == 'yes':
  p1 = input('choose rock, paper, or scissors: ')
  p2 = random.choice(['rock','paper','scissors'])

  print(f'computer chose{p2}.')

  if p1 == p2:
    print('draw')

  elif (p1 == 'rock' and p2 == 'scissors') or (p1 == 'paper' and p2 == 'rock') or (p1 == 'scissors'):
    print('you win')

  else:
    print('computer wins')

  c = input('do you want to play again? yes or no: ')

Do you want to play game? yes or no:no

**Numerical Calculator**

In [ ]:
n1=float(2)
n2=float(3)

symbol=input("Choose op *, /, +,- ")

if symbol=='*':
  print (f' n1 * n2= {n1* n2}')
elif symbol=='/':
  print (f' n1 / n2= {n1/ n2}')
elif symbol=='-':
  print (f' n1 - n2= {n1- n2}')
else:
  print (f' n1 + n2= {n1+ n2}')

**Parking Garage**

In [ ]:
flat=5

for t in range (1,9):
  charge= flat + 2.50 * t
  if charge < 10:
    charge=10
  elif charge > 20:
    charge=20
  print(t,charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

**Movie Theater**

In [ ]:
TicketPrice = 10
fixedCost = 200
standardAttendees = 20

for advertising in range(0, 201, 25):
    profit = 10 * (standardAttendees + 2 * round(advertising**0.5)) - fixedCost - advertising
    print(advertising,profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

**Month/Number Dictionary**

In [ ]:
months = {}

names = ['Jan', 'Feb', 'Mar','Apr','May', 'Jun','Jul','Aug', 'Sep','Oct', 'Nov', 'Dec']

Numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(Numbers)) :
  months[Numbers[i]] = names[i]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

**Fee Calculation and Display Functions**

In [ ]:
def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print('Parking fee: ','$',fee)

h = int(input('Enter number of hours parked: '))
fee = calcFee(h)
displayFee(fee)

Enter number of hours parked: 4
Parking fee:  $ 15.0

**Reverse Function (Recurrsion)**

In [ ]:
def rev(s):
    if len(s) == 1:
        return s
    else:
        return rev(s[1:]) + s[0]


print(rev("hello"))

olleh

**Student Class**

In [ ]:
class Student:
    def __init__(self, name, number):
        self.name = name
        self.number = number
        self.courses = []

    def enroll(self, course):
      if course not in self.courses:
        self.courses.append(course)
      else:
        print(f'Already enrolled in {course}')

    def get_courses(self):
      return self.courses

s1 = Student('James Bond', 307)
s2 = Student('Clark. Kent', 333)
s3 = Student('Jane Doe', 1111)

In [ ]:
s1.name, s2.name, s3.name

('James Bond', 'Clark. Kent', 'Jane Doe')

In [ ]:
s3.enroll('BTE 420')

In [ ]:
s3.get_courses()

['BTE 420']